<div class="card-container">
    <mat-card class="card" appearance="outlined">
        <mat-card-header class="card-header">
            <mat-card-title>Commandes en cours</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="order-container">
                <!-- <app-recipe
                    *ngFor="let recipe of recipes"
                    [name]="recipe.name"
                    [description]="recipe.description"
                    [id]="recipe.id"
                    [image]="recipe.image">
                </app-recipe> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>
