.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #5DADE2;
    font-size: 25px;
    padding: 1rem;
    gap: 30px;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: fixed;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease-out;
}

a:hover::after {
    width: 100%;
}

.home-link {
    text-decoration: none; /* Annule le soulignement par défaut */
    color: white; 
}

.home-link:hover::after {
    width: 0; /* Empêche l'extension de la ligne au survol */
}