.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.button-add {
    background: #5DADE2;
}