.modify-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-save {
    background: #5DADE2 !important;
    color: white !important;
}