<mat-card class="card custom-card">
    <mat-card-header class="card-header">
        <mat-card-title>
            <div>
                <img [src]="image" alt="" class="image"/>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>
            {{ name }}
        </mat-card-subtitle>
        <span *ngIf="description">
            {{ description.length > 50 ? (description | slice:0:50) + '...' : description }}
        </span>
    </mat-card-content>
    <mat-card-actions>
        <div class="detail-button-container">
            <button mat-button class="detail-button" (click)="redirectToRecipeDetail()">Voir la recette</button>
            <button *ngIf="!isOrdering" mat-button class="order-recipe" (click)="orderRecipe()">Commandez</button>
        </div>
    </mat-card-actions>
</mat-card>

