h1 {
    text-align: center;
}

.global-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
}

.button-add {
    background: #5DADE2;
    color: white;
}

.file {
    margin-bottom: 20px;
}
