<div class="global-container">
    <h1 mat-dialog-title>Form recette</h1>
    <mat-dialog-content>
        <form [formGroup]="formRecipe">
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name"/>
                <mat-error *ngIf="formRecipe.controls['name'].hasError('required')">Ce champs est
                    <strong>obligatoire</strong></mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description"/>
                <mat-error *ngIf="formRecipe.controls['description'].hasError('required')">Ce champs est <strong>obligatoire</strong>
                </mat-error>
            </mat-form-field>

            <input (change)="fileUpload($event)" type="file"/>

            <app-form-ingredient (onAddIngredient)="addIngredient($event)"></app-form-ingredient>
            <app-list-ingredients [(ingredientRecipes)]="ingredientRecipes"></app-list-ingredients>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Annuler</button>
        <button mat-button (click)="addRecipe()" class="button-add">Ajouter</button>
    </mat-dialog-actions>
</div>
